.productsContainer {
    display: flex;
    justify-content: center;
}

.productImage {
    margin-bottom: 1vh;
}

.productName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    margin-left: 1vh;
}

.productPreviousPrice {
    text-decoration: line-through;
}

.productPrice {
    font-size: xx-large;
}

.productVariants {
    display: flex;
}

.variant {
    margin-right: 1vh;
    margin-bottom: 1vh;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    border-style: solid;
    border-width: 1px;
}

.variant:hover {
    cursor: pointer
}

.nameAndIdContainer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}